.chart-beats {
  display: inline-block;
}

.chart-beat {
  position: relative;
  height: 2em;
  width: 8em;
}

.chart-beat:first-child:not(:has(.chart-event-note)) {
  height: 1em;
}

.chart-event {
  font-family: monospace;
  /* This is absolute because events within have fractional offsets. */
  position: absolute;
  width: 100%;
}

.chart-event-bpm {
  background: linear-gradient(0.5turn, cyan, cyan) no-repeat 40%/45% 0.2em;
  background-position-y: 55%;
  z-index: -1;
}

.chart-event-stop {
  background: linear-gradient(0.5turn, red, red) no-repeat 40%/45% 0.2em;
  background-position-y: 55%;
  z-index: -1;
}

.chart-beat-mod-0:not(:first-child) {
  background: linear-gradient(0.5turn, #ccc, #ccc) no-repeat 40%/45% 0.1em;
  background-position-y: 20%;
  z-index: -1;
}

.event-combo,
.event-notes,
.event-extra {
  display: inline-block;
  line-height: 1em;
  padding: 0 0.1em;
  vertical-align: middle;
}

.event-combo {
  color: #ccc;
  height: 1em;
  text-align: right;
  width: 2em;
}

.event-combo-mod-10,
.chart-beat:last-child .event-combo {
  color: #000;
  font-size: 1em;
}

.event-bpm-bpm-label {
  font-size: 0.8em;
}

.event-stop-beat-label {
  font-size: 0.8em;
}

.event-notes {
  width: 4em;
}

.event-extra {
  left: 6.5em;
  position: absolute;
}

.event-note {
  background-size: 100%;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.note-val-1,
.note-val-2 {
  background-image: url(assets/911cd94439164787f334.png);
}

.chart-event-note-4 .note-val-1,
.chart-event-note-4 .note-val-2 {
  background-image: url(assets/8a09a4213099ce9c3cd0.png);
}

.chart-event-note-8 .note-val-1,
.chart-event-note-8 .note-val-2 {
  background-image: url(assets/2fd1b65f3d2d3fffbfcd.png);
}

.chart-event-note-16 .note-val-1,
.chart-event-note-16 .note-val-2 {
  background-image: url(assets/ccecc4533f68e3362e8b.png);
}

.note-0 {
  transform: rotate(0.25turn);
}

.note-2 {
  transform: rotate(0.5turn);
}

.note-3 {
  transform: rotate(0.75turn);
}

