.chart-beats {
  display: inline-block;
}

.chart-beat {
  position: relative;
  height: 2em;
  width: 6em;
}

.chart-beat:first-child:not(:has(.chart-event-note)) {
  height: 1em;
}

.chart-event {
  font-family: monospace;
  /* This is absolute because events within have fractional offsets. */
  position: absolute;
  width: 100%;
}

.chart-event-bpm {
  border-top: 0.2em blue solid;
  z-index: -1;
}

.chart-event-stop {
  border-top: 0.2em red solid;
  z-index: -1;
}

.chart-beat-mod-0 {
  border-top: 0.1em #ccc solid;
  z-index: -1;
}

.event-combo,
.event-notes,
.event-extra {
  display: inline-block;
}

.event-combo {
  color: #ccc;
  height: 1em;
  text-align: center;
  width: 2em;
}

.event-combo-mod-10,
.chart-beat:last-child .event-combo {
  color: #000;
}

.event-notes {
  width: 4em;
}

.event-extra {
  left: 6em;
  position: absolute;
}

.event-note {
  background-size: 100%;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.note-val-1,
.note-val-2 {
  background-image: url('assets/arrow-note-down-green.png');
}

.chart-event-note-4 .note-val-1,
.chart-event-note-4 .note-val-2 {
  background-image: url('assets/arrow-note-down-red.png');
}

.chart-event-note-8 .note-val-1,
.chart-event-note-8 .note-val-2 {
  background-image: url('assets/arrow-note-down-blue.png');
}

.chart-event-note-16 .note-val-1,
.chart-event-note-16 .note-val-2 {
  background-image: url('assets/arrow-note-down-yellow.png');
}

.note-0 {
  transform: rotate(0.25turn);
}

.note-2 {
  transform: rotate(0.5turn);
}

.note-3 {
  transform: rotate(0.75turn);
}
