body {
  margin: 0;
  padding: 0;
}

  /* Dropdown caret */
.select-song .react-select__indicator,
.select-chart .react-select__indicator,
.select-song .react-select__indicator-separator,
.select-chart .react-select__indicator-separator {
  display: none;
}

.select-song .react-select__value-container,
.select-chart .react-select__value-container {
  padding: 0 2px;
}

.select-song .react-select__option,
.select-chart .react-select__option {
  padding: 8px 0 8px 5px;
}

.select-song .react-select__single-value,
.select-chart .react-select__single-value {
  text-overflow: clip;
}

.select-song {
  /* left: 0;
  top: 0;
  right: 0;
  position: fixed !important;
  width: 100%; */
}

.select-song .react-select__control {
}

.song {
}

.song-meta {
  display: table-row;
}

.select-chart,
.summary-spacer,
.bpm-summary,
.stop-summary,
.bpm-graph {
  display: table-cell;
  vertical-align: middle;
}

.select-chart {
  padding-right: 3px;
  width: 16%;
}

.bpm-summary,
.stop-summary {
  font-family: monospace;
  white-space: nowrap;
}

.bpm-summary {
  width: 0;
}

.stop-summary {
  padding: 0 3px;
  width: 0;
}

.stop-summary .stop-label {
  letter-spacing: -1;
}

.bpm-graph {
}

.chart {
  height: calc(100vh - 6em);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  padding-top: 3px;
}

.chart-beat {
  display: inline-block;
  position: relative;
  height: 3em;
  width: 10em;
}

.chart-beat:first-child:not(:has(.chart-event-note)) {
  height: 1em;
}

.chart-event {
  font-family: monospace;
  /* This is absolute because events within have fractional offsets. */
  position: absolute;
  width: 100%;
}

.chart-event-bpm {
  background: linear-gradient(0.5turn, cyan, cyan) no-repeat 40%/45% 0.2em;
  background-position-y: 55%;
  z-index: -1;
}

.chart-event-stop {
  background: linear-gradient(0.5turn, red, red) no-repeat 40%/45% 0.2em;
  background-position-y: 55%;
  z-index: -1;
}

.chart-event-hold-tail .event-combo {
  color: transparent;
}

.chart-event-hold .event-note {
  background-repeat-y: repeat;
  height: 100%;
}

.chart-event-hold .event-note {
  top: 0.5em;
  z-index: -1;
}

.chart-beat-mod-0:not(:first-child) {
  background: linear-gradient(0.5turn, #ccc, #ccc) no-repeat 40%/45% 0.1em;
  background-position-y: 20%;
  z-index: -1;
}

.event-combo,
.event-notes,
.event-extra {
  display: inline-block;
  line-height: 1.5em;
  padding: 0 0.1em;
  vertical-align: middle;
}

.event-combo {
  color: #ccc;
  height: 1.5em;
  line-height: 1.5em;
  text-align: right;
  width: 2em;
}

.event-combo-mod-10,
.chart-beat:last-child .event-combo {
  color: #000;
  font-size: 1em;
}

.bpm-label,
.stop-label {
  font-size: 0.8em;
}

.event-notes {
  width: 6em;
}

.event-extra {
  left: 8.5em;
  position: absolute;
}

.event-note {
  background-size: 100%;
  background-position: center;
  display: inline-block;
  height: 1.5em;
  position: relative;
  width: 1.5em;
}

.note-val-1,
.note-val-2 {
  background-image: url('assets/arrow-note-down-green.png');
}

.chart-event-note-4 .note-val-1,
.chart-event-note-4 .note-val-2 {
  background-image: url('assets/arrow-note-down-red.png');
}

.chart-event-note-8 .note-val-1,
.chart-event-note-8 .note-val-2 {
  background-image: url('assets/arrow-note-down-blue.png');
}

.chart-event-note-16 .note-val-1,
.chart-event-note-16 .note-val-2 {
  background-image: url('assets/arrow-note-down-yellow.png');
}

.note-0 {
  transform: rotate(0.25turn);
}

.note-2 {
  transform: rotate(0.5turn);
}

.note-3 {
  transform: rotate(0.75turn);
}

.note-val-3,
.note-val-M,
.note-val-h {
  transform: none;
}

.note-val-3.note-0 {
  background-image: url('assets/hold-left-tail.png');
}

.note-val-3.note-1 {
  background-image: url('assets/hold-down-tail.png');
}

.note-val-3.note-2 {
  background-image: url('assets/hold-up-tail.png');
}

.note-val-3.note-3 {
  background-image: url('assets/hold-right-tail.png');
}

.note-val-h.note-0 {
  background-image: url('assets/hold-left-body.png');
}

.note-val-h.note-1 {
  background-image: url('assets/hold-down-body.png');
}

.note-val-h.note-2 {
  background-image: url('assets/hold-up-body.png');
}

.note-val-h.note-3 {
  background-image: url('assets/hold-right-body.png');
}

.note-val-M.note-0 {
  background-image: url('assets/arrow-shock-left.png');
}

.note-val-M.note-1 {
  background-image: url('assets/arrow-shock-down.png');
}

.note-val-M.note-2 {
  background-image: url('assets/arrow-shock-up.png');
}

.note-val-M.note-3 {
  background-image: url('assets/arrow-shock-right.png');
}

.stop-combo {
  margin: 0 0.1em;
}
