.chart-measure {
  display: block;
  position: relative;
  height: 8em;
}

.chart-event {
  display: block;
  position: absolute;
  /* height: 4em; */
}

.event-notes {
  /* height: 4em; */
}

.event-note {
  background-size: 100%;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.note-val-1 {
  background-image: url('assets/arrow-down.png');
}

.note-0 {
  transform: rotate(0.25turn);
}

.note-2 {
  transform: rotate(0.5turn);
}

.note-3 {
  transform: rotate(0.75turn);
}
